
Prueba/Prueba_Enriquez.docx
Dados/TareaDados_Enriquez.docx
Diapositivas/eventos-discretos.pdf
Diapositivas/1-convertido.pdf
*.mp4
Diapositivas/Cap2.SoftwareSimulacion.pdf
Diapositivas/Capitulo1.pdf
Diapositivas/Simulacion_Interciclo.pdf
Examen/.ipynb_checkpoints/Examen_borrador-checkpoint.ipynb
Examen/Examen_borrador.ipynb
Examen/Informe_Examen_Enriquez.docx
Diapositivas/Apuntes.pdf
Diapositivas/OneDrive_1_23-6-2021.zip
